[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
fmpsdk = "*"
python-dotenv = "*"
numpy = "*"
openpyxl = "*"
pyinquirer = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9.4"
